<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>確認</title>
</head>
<body th:object="${person}">
  <div th:if="(*{personId} != ${idNotRegistered})">
    ID: <span th:text="$*{personId}"></span>
  </div>

  <table>
    <tr>
      <td>名前</td>
      <td th:text="*{personName}"></td>
    </tr>
    <tr>
      <td>年齢</td>
      <td th:text="*{age}"></td>
    </tr>
    <tr>
      <td>性別</td>
      <td th:switch="*{gender}">
        <span th:case="'male'">男性</span>
        <span th:case="'female'">女性</span>
        <span th:case="*"></span>
      </td>
    </tr>
  </table>

  <form method="POST">
    <input type="hidden" th:field="*{personId}">
    <input type="hidden" th:field="*{personName}">
    <input type="hidden" th:field="*{age}">
    <input type="hidden" th:field="*{gender}">

    <div>
      <button type="submit" th:formaction="@{/back}">戻る</button>
      <button type="submit" th:formaction="@{/update}">更新実行</button>
    </div>
  </form>
</body>
</html>